* {
    font-family: 'Roboto','Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* HEADER */

header {
    background-color: #1F2937;
    display: inline-block;
    width: 100%;
    min-height: 80vh;

} 

.logo {
    width: 50%;
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.logo span img {
    width: 50px;
    height: 30px;
    object-fit: contain;
    vertical-align: top;
    margin-right: 30px;
}

.top {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 1rem auto;
    align-items: center;
}

.top span:not(.logo) {
    font-size: 18px;
    color: #e5e7eb;
}

section#about .info{
    width: 50%;
    line-height: 40px;
    font-size: 24px;
    color: #e5e7eb;
    max-width: 600px;

}

.bold {
    font-weight: 800;
}

.pub {
    font-style: italic;
    text-indent: 100px;
    font-size: 15px;
    letter-spacing: 5px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 20px;

}

section#about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 10% auto;
    width: 90%;
    max-width: 1000px;
    gap: 10px;
}

#about .image {
    min-width: 50%;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

section#about div img  {
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    height: 300px;
}

.underlined {
    text-decoration: underline;
}

/* MIDDLE*/

.middle {
    width: 100%;
}

div.middle #destination {
    width: 80%;
    margin: 0 auto;

}

div.middle #destination h2 {
    margin: 10vh auto 5vh;
    text-align: center;
    color: #1F2937;  
    font-size: 2em;
    max-width: 800px;
    text-transform: uppercase;
}

.top-container {
    display: flex;
    max-width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

.top-container figure {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    align-items: center;
}

.top-container img {
    min-width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;

}

.top-container figcaption {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 2px;
}

.quote {
    background-color: #e5e7eb;
    padding: 60px 0;
}

blockquote {
    width: 60%;
    margin: 0 auto;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    text-align: center;

}

p[class="author"] {
    text-align: right;
    font-size: 2rem;
    font-style: italic;

}

div.call {
    width: 60%;
    margin: 100px auto;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 40px 100px;
    display: flex;
    border-radius: 10px;
    gap: 0 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.call div.text {
    width: 400px;
    text-align: left;
    line-height: 30px;
}

div.call button {
    padding: 5px 20px;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
}

div.call div.text p {
    font-size: 1em;
    font-weight: 300;
}

div.call div.text p:first-child {
    font-size: 1.2em;
    font-weight: 600;
}


/* FOOTER */


footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 50px;
    text-align: center;
    font-weight: 300;
}
